* {
  font-family: 'Open Sans', serif;
}
html,
body {
  margin: 20px auto;
  height: 100%;
  width: 100%;
  padding: 0;
}
body {
  background-color: #000000;
  color: #ecf0f1;
}
a {
  color: #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
  text-decoration: none;
}
a:hover {
  color: lightseagreen ;
  text-decoration: underline;
}
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.fw-400 {
  font-weight: 400;
}
img.responsive {
  width: 70%;
  height: auto;
  margin: 0 auto;
}
.vertical-center {
  top: 50%;
  transform: translateY(-50%);
}
.img-circle {
  border-radius: 50%;
}

.column-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.column-container .column {
  width: 96%;
  margin: 0 auto;
  max-width: 800px;
}
.column-container .column.half {
  width: 48%;
  max-width: 800px;
}
.category-container {
  margin: 30px auto;
}
.category-container .category-title {
  width: 100%;
  margin: 20px auto 0px;
}
.category-container .category-title h2 {
  border-bottom: 1px dashed #ecf0f1;
  display: inline-block;
  margin: 0 auto;
}
.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto;
}
.experience .logo {
  width: 30%;
  text-align: center;
}
.experience .logo img {
  width: 100%;
  max-width: 200px;
}
.experience .content {
  width: 60%;
}
.experience .content .title {
  font-size: 1.2em;
}
.project,
.publication {
  max-width: 700px;
  margin: 30px auto 40px;
}
.project .title,
.publication .title {
  font-size: 1.2em;
}
.publication .authors {
  font-style: italic;
}
#contact {
  margin: 8px a euto;
}
#contact a {
  color: #ecf0f1;
  border-bottom: none;
  font-size: 24px;
  margin: 4px;
}
#contact a:hover {
  text-decoration: none;
}
.footer {
  margin: 30px auto;
  font-size: 12px;
}
@media screen and (max-width: 900px) {
  .column.half {
    width: 80% !important;
  }
  .experience .logo {
    width: 100%;
  }
  .experience .content {
    margin: 10px auto;
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
  .project,
  .publication {
    text-align: center;
  }
}

hr.seperator {
  border: 1px solid white;
}

.title{
  font-weight: bold;
}

.nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.nav ul li {
  display: inline-block;
  margin: 5px 10px;
}
.nav ul li a {
  color: #c8d3d5;
  border-bottom-color: #c8d3d5;
  transition: 0.15s ease-in-out all;
}
.nav ul li a:hover {
  color: #fcfafa;
  border-bottom-color: #fcfafa;
  text-decoration: none;
}
.nav ul li a.active {
  color: #fcfafa;
  border-bottom-color: #fcfafa;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #000000;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;
                transition: all 0.3s 1s ease-out;
    }

    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #000000;
    }

    #content {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
    }
